* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #A9BCD0;
    display: grid;
    place-items: center;
}

h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.calculadora {
    background-color: #D8DBE2;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    box-shadow: #373F51 2px 4px 10px 2px;
}

.pantalla {
    grid-column: 1 / -1;
    background-color: #373F51;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn {
    background-color: #58A4B0;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #373F51;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #e6394a;
}

#igual:hover {
    background-color: #e65766;
}

h2 {
    color: rgb(246, 240, 240);
    font-size: 1rem;
    margin-top: 1rem;
}


